<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/badrequestt.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="badrequest.css" />
    <title>Bad request</title>
  </head>

  <body>
    <section class="reset">
      <!-- <div class="mainlogo">
            <img src="Assets\404 Error with a cute animal-bro 1.png" class="logo" alt="img" />
        </div> -->
      <div class="mainreset">
        <img
          src="https://res.cloudinary.com/quecko123/image/upload/v1686739357/rain/badrequest_kpuiij.png"
          class="logo text-center"
          alt="img"
        />
        <h3 class="mainhead">bad request</h3>
        <p class="sorry">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br />
          eiusmod tempor incididunt
        </p>

        <!-- 
            <a href=""><button class="resetbtn">RESET PASSWORD</button></a> -->
      </div>
    </section>
    <script>
      function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      function myFunction1() {
        var x = document.getElementById("errorInput");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
  </body>
</html>
