<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/errorpage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" />
    <title>Page not found</title>
  </head>

  <body>
    <section class="reset">
      <div class="mainreset">
        <img
          src="https://res.cloudinary.com/quecko123/image/upload/v1686739357/rain/404_Error_with_a_cute_animal-bro_1_nkiaxn.png"
          class="logo text-center"
          alt="img"
        />
        <h3 class="mainhead">Page not found</h3>
        <p class="sorry">Sorry, we can’t find the page you’re looking for.</p>
      </div>
    </section>
  </body>
</html>
